{% extends 'BackOffice/back_med.html.twig' %}
{% block title %}New Depot{% endblock %}

{% block body %}
	<section class="content-main">
		<div class="card mb-4 padding">
			<div class="content-header">
				<h2 class="content-title">Ajouter un depot</h2>
			</div>
			<div>
				{{ include('depot/_form.html.twig') }}
				<a href="{{ path('app_depot_index') }}">Retourner</a>
			</div>
		</div>
	</section>
{% endblock %}
