{% extends 'backoffice/base.html.twig' %}

{% block title %}New Depot{% endblock %}

{% block body %}
    <h1>Ajouter un depot</h1>

    {{ include('depot/_form.html.twig') }}

    <a href="{{ path('app_depot_index') }}">Retourner</a>
{% endblock %}
