{% extends 'backoffice/base.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block body %}
    <h1>Ajouter un patient</h1>

    {{ include('patient/_form.html.twig') }}

    <a href="{{ path('app_patient_index') }}">Retourner</a>
{% endblock %}
