{% extends 'backoffice/base.html.twig' %}

{% block title %}New Remboursement{% endblock %}

{% block body %}
    <h1>Ajouter un remboursement</h1>

    {{ include('remboursement/_form.html.twig') }}

    <a href="{{ path('app_remboursement_index') }}">Retourner</a>
{% endblock %}
