{% extends 'base.html.twig' %}

{% block title %}UtilisateurOmar index{% endblock %}

{% block body %}
    <h1>UtilisateurOmar index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur_omar in utilisateur_omars %}
            <tr>
                <td>{{ utilisateur_omar.id }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_omar_show', {'id': utilisateur_omar.id}) }}">show</a>
                    <a href="{{ path('app_utilisateur_omar_edit', {'id': utilisateur_omar.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_omar_new') }}">Create new</a>
{% endblock %}
