{% extends 'BackOffice/back_med.html.twig' %}

{% block title %}New Assurance
{% endblock %}

{% block body %}
	<section class="content-main">
		<div class="card mb-4 padding">
			<div class="content-header">
				<h2 class="content-title">Ajouter une assurance</h2>
			</div>
			<div>
				{{ include('assurance/_form.html.twig') }}
				<a href="{{ path('app_assurance_index') }}">Retourner</a>
			</div>
		</div>
	</section>
{% endblock %}
