<form method="post" action="{{ path('app_consultation_delete', {'idconsultation': consultation.idconsultation}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ consultation.idconsultation) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
