{% extends 'BackOffice/back_med.html.twig' %}

{% block title %}Hello StatdepotController!{% endblock %}

{% block body %}

<div class="example-wrapper">
        {{ google_charts_render(chart) }}
   
</div>
{% endblock %}
