{% extends 'BackOffice/back_med.html.twig' %}

{% block title %}New Fiche{% endblock %}

{% block body %}
    <h1>Ajouter une fiche</h1>

    {{ include('fiche/_form.html.twig') }}

    <a href="{{ path('app_fiche_index') }}">Retourner</a>
{% endblock %}
